<md-card  class="flexCard pythonWidgetConfiguration" >
	<md-card-content flex layout="column" class="noPadding">
	    <md-toolbar> 
	      <div class="md-toolbar-tools">
	        <h2>Python Widget Configuration</h2>
	        <span flex></span>
	      </div>
	    </md-toolbar>
	    <md-content flex layout="column">
			<md-tabs flex md-border-bottom>
				<md-tab label="Python Editor">
				
					<!-- INIZIO EDITOR -->
					
					<md-content class="noPadding" layout="row" layout-fill>
						<div layout="column" flex>
						
							<md-card>
						     	<md-card-content layout="row" layout-align="space-around center">
						     		<md-input-container flex class="md-block">
									  <label>Output Type</label>
									  <md-select ng-model="newModel.pythonOutputType">
								          <md-option ng-repeat="type in newModel.types" value="{{type}}">{{type}}</md-option>
								      </md-select>
									</md-input-container>
									<md-input-container flex class="md-block">
									  <label>Output Variable</label>
									  <input type="text" ng-model="newModel.pythonOutput">
									</md-input-container>
								</md-card-content>
							</md-card>
						
							<md-card class="pythonEditor">
								<md-toolbar class="ternaryToolbar"> 
							      <div class="md-toolbar-tools"> 
							        <h2>Python Code</h2>
							        <span flex></span>
							      </div>
							    </md-toolbar>
								<md-card-content class="noPadding">
								<textarea id="python" ui-codemirror="editorOptionsPython" ng-model="newModel.pythonCode" ui-refresh="newModel.pythonCode" flex></textarea>
								</md-card-content>
							</md-card>
						</div>
				    </md-content>

				<!-- FINE EDITOR -->

		        </md-tab>
		        <md-tab label="{{translate.load('sbi.cockpit.style')}}">
		        	<cockpit-style-configurator widget ng-model="newModel.style"></cockpit-style-configurator>
		        </md-tab>
		        <md-tab label="{{translate.load('sbi.cockpit.dataset')}}">
		        	<md-card>
		        		<md-card-content>
		   					<dataset-selector ng-model="newModel.dataset.dsId" on-change="handleDsChange('datasetChanged',dsId)" dataset-settings="newModel.settings" extended="true" dataset-type-exclusion="[{type:'SbiSolrDataSet'}]"></dataset-selector>  
		   				</md-card-content>
		   			</md-card>	
		     	</md-tab>
		        
	      	</md-tabs>
	    </md-content>
    </md-card-content>
    <md-card-actions layout="row"  layout-align="end center">
	    <md-button class="md-raised" ng-click="cancelConfiguration()" >
	     {{translate.load('sbi.generic.cancel')}}
	    </md-button>
	    <md-button class="md-raised md-primary" ng-click="saveConfiguration()"  >
	     {{translate.load('sbi.generic.save')}}
	    </md-button>
    </md-card-actions>
</md-card>